<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Kijeka Mail</title>
		
	</head>
	<body>
		<div style="display: flex; overflow: hidden; position: relative; padding-top: 1.5rem; background-color: #ffffff; flex-direction: column; justify-content: center;">
			<div style="overflow: hidden; position: relative; padding-top: 1rem; margin-left: auto;margin-right: auto; background-color: #ffffff; max-width: 32rem; border-radius: 0.5rem; box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); ">
			  <div style="margin-left: auto;margin-right: auto; max-width: 75rem; height: fit-content;width: 1000px;">
				<a href="https://www.kijeka.com/" target="_blank">
				  <img src="https://www.kijeka.com/static/images/KijekaLogo.png" style="margin-left: 2.5rem;margin-right: 2.5rem; margin-bottom: 0.75rem; height: 3.5rem; " alt="Kijeka" />
				</a>
				<hr style="border-color: #004b95; " />
				<div>
				  <div style="padding-top: 0.75rem;padding-bottom: 0.75rem; padding-left: 2.5rem;padding-right: 2.5rem; margin-top: 0.5rem; font-size: 1rem;line-height: 1.5rem; line-height: 1.75rem; color: #004b95;">
					<p style="font-weight: 700; ">Hello Kijeka,</p>
					<p style="font-style: italic; opacity: 0.8; ">Below Details has been forwarded from contact us form.</p>
				  </div>
				  <hr style="border-color: #004b95; " />
				  <div style="padding-top: 2rem;padding-bottom: 2rem; padding-left: 2.5rem;padding-right: 2.5rem; font-size: 1rem;line-height: 1.5rem; font-weight: 600; line-height: 1.75rem; ">
					<p>Name : %%name%%</p>
							<p>E-mail : %%email%%</p>
							<p>Mobile No. : %%phone%%</p>
							<p>Country : %%country%%</p>
							<p>Company Name : %%company%%</p>
							<p>Query : %%query%%</p>
							<p>Address : %%address%%</p>
				  </div>
				  <div style="padding-left: 2.5rem;padding-right: 2.5rem; padding-top: 0.75rem; width: 100%; height: 8rem; background: #004b95;">
					<img src="https://www.kijeka.com/static/images/KijekaLogoWhite.png" style="height: 2.5rem; " />
					<div style="display: flex; margin-top: 0.75rem; flex-direction: row; ">
					  <a href="https://twitter.com/kijeka" style="text-decoration:underline;color:#ffffff;font-size:12px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/kijeka&amp;source=gmail&amp;ust=1679154834695000&amp;usg=AOvVaw0xcGMsx9mKNCBWsZNciUMh"><img src="https://ci3.googleusercontent.com/proxy/dF4mltHXe1IGlU3NBXhPIhTdU5ZdaDm4ckjZAzB9Eqf15PEwA8EDinbkP9gepjnPqW8KJUud_1Qx7o_sCj2NoaORPByrVQ98Vg-54o85DYMfvmlRcXw-P4u5WBVsjl3hlR4lAwgbUWYUuGhjRiWY3dzEOQ=s0-d-e1-ft#https://mnefub.stripocdn.email/content/assets/img/social-icons/logo-white/twitter-logo-white.png" alt="Tw" title="Twitter" width="32" style="display:block;border:0;outline:none;text-decoration:none" class="CToWUd" data-bit="iit" /></a>
					  <a href="https://www.facebook.com/kijekaengg" style="text-decoration:underline;color:#ffffff;font-size:12px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/kijekaengg&amp;source=gmail&amp;ust=1679154834696000&amp;usg=AOvVaw0Z7nzUWw-WyP-HVCegla9G"><img src="https://ci5.googleusercontent.com/proxy/98YRQI6E5DvfVyLgVaOzq2Q85CFk8vEJd7j1lLWO7LIFhGZuAgfMMR2roifCpnUmfWeO6FVcyoL1Z1Yq72M5FLUZ1nGnwU2otql24smQcveWXV0VUhTXo6Nr8NVyNc-IxVGVuok97TR4tiP4WyZi9HDYcC0=s0-d-e1-ft#https://mnefub.stripocdn.email/content/assets/img/social-icons/logo-white/facebook-logo-white.png" alt="Fb" title="Facebook" width="32" style="display:block;border:0;outline:none;text-decoration:none" class="CToWUd" data-bit="iit" /></a>
					  <a href="https://www.linkedin.com/company/kijeka/" style="text-decoration:underline;color:#ffffff;font-size:12px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/company/kijeka/&amp;source=gmail&amp;ust=1679154834696000&amp;usg=AOvVaw1MTLqK7NLZLFhqsESkz-fU"><img src="https://ci4.googleusercontent.com/proxy/udcVOCj0xTJPKtZqdxHMyA8Ch8IjW0toEgHe8DZdiFV-PT-KDDm0TSIRODZcee3yIpgVM-jwxXfg4xHC7BOGN4vImUoizcnAbMR-aEcOwbpcREyNBdXoR5mqu_6yjTWZBJopyYOXeF6qOQmZtLDq36fwz0o=s0-d-e1-ft#https://mnefub.stripocdn.email/content/assets/img/social-icons/logo-white/linkedin-logo-white.png" alt="In" title="Linkedin" width="32" style="display:block;border:0;outline:none;text-decoration:none" class="CToWUd" data-bit="iit" /></a>
					  <a href="https://www.youtube.com/KijekaMHE" style="text-decoration:underline;color:#ffffff;font-size:12px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.youtube.com/KijekaMHE&amp;source=gmail&amp;ust=1679154834696000&amp;usg=AOvVaw2MQjrY71GNFL0BE_qzMpnV"><img src="https://ci5.googleusercontent.com/proxy/IpreP1ez-mHuUUmpTEIukSdp4gRA13hAqfwNKsOQKMJz7KTauLJzq9ZSUTbFfQHVEjTW-TN9hc4ogjnz71_0GcDO9M1zCj6Yr0Tj9_l-r6TMBx7atB0wmzAlczKhWAEpbyIvSq573FGF_SzNhLxVQbJP-Q=s0-d-e1-ft#https://mnefub.stripocdn.email/content/assets/img/social-icons/logo-white/youtube-logo-white.png" alt="Yt" title="Youtube" width="32" style="display:block;border:0;outline:none;text-decoration:none" class="CToWUd" data-bit="iit" /></a>
					  <a href="https://in.pinterest.com/kijekaengg/" style="text-decoration:underline;color:#ffffff;font-size:12px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://in.pinterest.com/kijekaengg/&amp;source=gmail&amp;ust=1679154834696000&amp;usg=AOvVaw20ncg_HaqkLtbBE1d5MOZu"><img src="https://ci5.googleusercontent.com/proxy/Wiz9fB88PQ-27X8WwLcgEq7tFC7_doeZWX5WKEIhuFpxPEKRm4K1Vx6AIz792yMNVz3aUpGlWmP9W7WCrVaW9P3Tim7EB0WHrau53-9Z-JIJxRLcBKu08hUj5JD2XFJ57f_1vQtVcBHN7cHGFIOgGYUarW_K=s0-d-e1-ft#https://mnefub.stripocdn.email/content/assets/img/social-icons/logo-white/pinterest-logo-white.png" alt="P" title="Pinterest" width="32" style="display:block;border:0;outline:none;text-decoration:none" class="CToWUd" data-bit="iit" /></a>
					  <a href="https://www.instagram.com/kijeka/" style="text-decoration:underline;color:#ffffff;font-size:12px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/kijeka/&amp;source=gmail&amp;ust=1679154834696000&amp;usg=AOvVaw0Od8ry_O5Btwg2zvs4Ey1e"><img src="https://ci3.googleusercontent.com/proxy/hpZ81eA-i3H1AR8h_XdNyjZY59FaI84vZ0z-WYlQlFX_AUmMF3MkYJBuRe8Z8NOjHjlMBC--DuE-w3o4bHe3E0xDt-ANQO696CwkAwilqZw7TwX3FmxaEGnBCbYvtEi99oCOAFQzcP3D1e2d_SWdSOHfMWhA=s0-d-e1-ft#https://mnefub.stripocdn.email/content/assets/img/social-icons/logo-white/instagram-logo-white.png" alt="Ig" title="Instagram" width="32" style="display:block;border:0;outline:none;text-decoration:none" class="CToWUd" data-bit="iit" /></a>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		  
		  
	</body>
</html>